@import url("https://fonts.googleapis.com/css2?family=Cantora+One&family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --green: #83bd75;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

table {
  border-bottom: 1px solid !important;
}

th {
  padding: 10px;
}

/* button */
.bg-primary {
  background-color: var(--green) !important;
}

.btn:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}

.btn:not(.nav-btns button):hover {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green);
}

.nav-btn {
  margin: 0 4px;
  color: rgb(85, 85, 85);
}

.nav-btn:hover {
  color: var(--green);
}

/* text color */
.text-primary {
  color: var(--green) !important;
}

/* navbar */
.navbar {
  -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 30px;
}

.navbar-brand h4 {
  letter-spacing: 2px;
  font-family: "Cantora One", sans-serif;
  color: #4e944f;
}

.navbar-brand h4 span {
  color: #000;
}

.nav-link:hover {
  color: #4E944F !important;
}

.nav-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* header */
#header {
  background: url(./assets/slider3.jpg) top/cover no-repeat;
}

.carousel-inner h1 {
  font-size: 50px;
}

.carousel-item .btn {
  border-color: #fff !important;
}

.carousel-item .btn:hover {
  border-color: var(--green) !important;
}

/* title */
.title h2::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 50px;
  background-color: #B4E197;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* collection */
.active-filter-btn {
  background-color: var(--green) !important;
  color: #fff !important;
  border-color: var(--green) !important;
}

.filter-button-group .btn:hover {
  color: #fff !important;
}

.collection-img span {
  top: 20px;
  right: 20px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.collection-img .cart {
  opacity: 0;
  transition: all ease-in 0.1s;
}

.collection-img .icons {
  width: 40px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.rating {
  color: var(--pink) !important;
}

.collection-img .cart:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.active {
  color: red !important;
}

.category-select {
  padding: 10px;
  border-radius: 25px;
  width: 120px;
  height: 50px;
  margin: 8px;
}

.collection-img .icons:hover {
  background-color: var(--green);

  color: white;
  transform: scale(1.2);
}

.collect {
  opacity: 0;
  animation: comein 1s ease forwards;
}

.addedMargin {
  margin-top: 5rem;
}

/* Shop Category */
.shop-category {
  transition: all ease 0.2s;
  cursor: pointer;
}

.shop-category img {
  max-height: 265.5px;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.shop-category:hover {
  transform: translateY(-20px);
}

/* Detail */
.size label {
  display: inline-block;
  width: 70px;
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}

.size input[type="radio"] {
  display: none;
}

.size input[type="radio"]:checked + label {
  border: solid 2px green;
}

/*Comment*/
.comment-answer button:hover {
  background-color: var(--green) !important;
  color: #fff !important;
  border-color: transparent;
}

/*Cart*/
.checkout {
  width: fit-content;
}

.cart-table button:hover {
  background-color: var(--green) !important;
  color: #fff !important;
  border-color: transparent;
}

/*Favorite*/
.favorite-table button:hover {
  background-color: var(--green) !important;
  color: #fff !important;
  border-color: transparent;
}

/* select */
select {
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* .collection-img:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    transition: ease-in 0.5s;
} */

/* offers */
#offers {
  background: url(./assets/images/discount_img.jpg) center/cover no-repeat;
}

#offers .row {
  min-height: 60vh;
}

.offers-content span {
  font-size: 28px;
}

.offers-content h2 {
  font-size: 60px;
}

.offers-content .btn {
  border-color: transparent !important;
}

/* about */
#about {
  background-color: rgba(179, 179, 179, 0.05);
}

/* newsletter */
#newsletter {
  background-color: rgba(179, 179, 179, 0.05);
}

#newsletter p {
  max-width: 600px;
}

#newsletter .input-group {
  max-width: 500px;
}

#newsletter .form-control {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#newsletter .btn {
  background-color: var(--green);
  color: #fff;
  border-color: var(--green);
}

#newsletter .btn:hover {
  background-color: #000;
  border-color: #000;
}

/*Footer*/
footer{
  background-color: #4E944F;
  margin-top: 80px;
}
footer a h4{
  color: #fff;
}

footer a h4:hover{
  text-decoration: underline;
}
footer a li span:hover{
  text-decoration: underline;
}

@keyframes comein {
  to {
    opacity: 1;
  }
}

/* media queries */
@media (min-width: 992px) {
  .nav-item {
    border-bottom: none;
  }
}
